
<div class="container">
  <h1 class="heading animate__animated animate__lightSpeedInLeft">Bhada</h1>
  <div class="card text-center">
    <div class="card-header">
      Login Page
    </div>
    <div class="card-body">
      <h5 class="card-title">Let's check If You have an Account</h5>
      <form class="form_login row g-3">
        <div class="mb-3 row">
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Email" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-12">
            <input type="password" class="form-control" placeholder="Password" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary mb-3" id="login_button">Confirm identity</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </form>
    </div>
  </div>
</div>
